<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cca.sportt">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Activitys.EntrenamientoActivity"></activity>
        <activity android:name=".Activitys.TusLogrosActivity" />
        <activity android:name=".Activitys.TuPlanActivity" />
        <activity android:name=".Activitys.RegistroTusDeportesActivity" />
        <activity android:name=".Activitys.SubDeportesActivity" />
        <activity android:name=".FragmentActivity.DeporteFragmentActivity" />
        <activity android:name=".Activitys.TusDeportesActivity" />
        <activity android:name=".Activitys.ComunidadActivity" />
        <activity android:name=".Activitys.DeportesActivity" />
        <activity android:name=".Activitys.RegisterActivity" />
        <activity android:name=".Activitys.PrincipalActivity" />
        <activity android:name=".Activitys.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>